<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="credentialsFilePath" value="D:\Environments\Production database backup\Crediantals.json" />
		<add key="folderId" value="1Kzjqgf3ZLaVUoZT1AEaPqVicUeFGSEX1" />
		<add key="folderPath" value="D:\Environments\Production database backup\BPMProd" />
	</appSettings>
</configuration>
