<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="credentialsFilePath" value="D:\Environments\Production database backup\Crediantals.json" />
		<add key="folderId" value="1S-NEL6P7EdzBbMJvdaGs5-zCWaX_a37b" />
		<add key="folderPath" value="D:\Environments\Production database backup\BPMProd" />


		<!--<add key="ConnectionStrings" value="data source=106.201.231.27;database=Bpmstagging;multipleactiveresultsets=true;user id=sa;password=ash@2011;min pool size=5;max pool size=90;connect timeout=45;" />
		<add key="webaddress" value="http://106.201.231.27:8090/" />
		<add key="sendemailapiurl" value="http://106.201.231.27:8087/api/utility/sendemail" />
		<add key="fatalexceptionsapi" value="http://106.201.231.27:8087/api/logging/addfatalexceptions" />
		<add key="clientsettingsprovider.serviceuri" value="" />
		<add key="mailreceiver" value="gore.sujit@realizertech.com" />
		<add key="mailreceivercc" value="0007adityag@gmail.com" />-->


		
		<!--<add key="ConnectionStrings" value="Data Source=103.126.72.46;database=BPMStaging;MultipleActiveResultSets=True;User id=sa;Password=ash@2011;Min Pool Size=5;Max Pool Size=90;Connect Timeout=45;" />
		<add key="WebAddress" value="http://103.126.72.46:8090/" />
		<add key="sendemailapiurl" value="http://103.126.72.46:8087/api/utility/sendemail" />
		<add key="fatalexceptionsapi" value="http://103.126.72.46:8087/api/logging/addfatalexceptions" />
		<add key="clientsettingsprovider.serviceuri" value="" />
		<add key="mailreceiver" value="gore.sujit@realizertech.com"/>
		<add key="mailreceivercc" value="0007adityag@gmail.com"/>-->




		<!--Production-->
		<add key="connectionstrings" value="data source=192.168.1.144;database=bpmprod;multipleactiveresultsets=true;user id=bpmproduser;password=bold$2020#sqluser;min pool size=5;max pool size=90;connect timeout=45;"/>
		<add key="webaddress" value= "https://www.boldpreciousmetals.com/" />
		<add key="fatalexceptionsapi" value="http://208.51.60.143:8085/api/logging/addfatalexceptions"/>
		<add key="sendemailapiurl" value="http://208.51.60.143:8085/api/utility/sendemail"/>
		<add key="mailreceiver" value="ryan@boldpreciousmetals.com"/>
		<add key="mailreceivercc" value="shikalgarsahil124@gmail.com"/>

	</appSettings>
</configuration>
